.wall{
    margin: auto 0;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(254, 229, 248));
    text-align: center;
    border: 5px solid orange;
    border-radius: 8px;
}
.form{
    border: 5px solid purple;
    border-radius: 8px;
    margin: 5px;
}
.main{
    vertical-align: top;
    display: inline-block;
    height: 500px;
    width: 700px;

    border-radius: 8px;
    overflow: scroll;
    margin: 3px;
}
.blue{
    vertical-align: top;
    display: inline-block;
    height: 500px;
    width: 700px;
    overflow: scroll;
    border-radius: 8px;
}

.ng-invalid { }
.ng-valid { }
.ng-untouched { }
.ng-touched { }
.ng-dirty { }
.ng-pristine { }
